<!-- wp:template-part {"slug":"header","tagName":"div","className":"template-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main page-main","layout":{"type":"default"}} -->
<main class="wp-block-group site-main page-main">
    <!-- wp:group {"className":"entry-header","layout":{"type":"constrained"}} -->
    <div class="wp-block-group entry-header">
        <!-- wp:post-title {"level":1,"className":"page-title"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"container entry-container","layout":{"type":"default"}} -->
    <div class="wp-block-group container entry-container">
        <!-- wp:post-content {"layout":{"type":"default"}} /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div","className":"template-footer"} /-->
